<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Book Detail</title>
</head>
<body class="d-flex flex-column">

    <!-- Page Content-->
    <section layout:fragment="body">
        <a class="btn btn-primary" th:href="@{/}">Go Back</a>
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="${book.title}"></h1>
                    <p class="lead mb-0" th:text="${book.author}"></p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" th:src="${book.photoUrl}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted" th:text="${book.createdOn}"></div>
                        </div>
                    </div>



<!--########################################COMMENT##################################################### -->

                    <div class="form-outline mb-4">
                        <a class="btn btn-outline-secondary" th:href="@{/books/{bookId}/comments/new(bookId=${book.id})}">Write a Comment</a><br>
                    </div>
                    <div class="row d-flex justify-content-center" th:each="comment : ${comments}">
                        <div class="col-md-10 col-lg-12">
                            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                                <div class="card-body p-4">

                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQnfcK8aWadEUBLCnstq0gd7sBmsB33Tvcng&usqp=CAU" alt="avatar" width="25" height="25" />
                                                    <p class="small mb-0 ms-2" th:text="${comment.userEmail}">Martha</p>
                                                    <p class="small mb-0 ms-2" th:text="${comment.createdAt}">createdAt</p>
                                                    <p class="small mb-0 ms-2" th:text="${comment.likes} + ' ' + 'likes'">likes</p>
                                                </div>
                                            </div>

                                            <p th:text="${comment.content}">Type your note, and hit enter to add it</p>



                                            <!-- Like and Unlike buttons -->
                                            <div class="btn-group" role="group">
                                                <!-- Like button -->
                                                <form th:action="@{/books/{bookId}/comments/{commentId}/like(bookId=${bookId}, commentId=${comment.id})}" method="post">
                                                    <button type="submit" class="btn btn-outline-secondary">Like</button>
                                                </form>

                                                <!-- Unlike button -->
                                                <form th:action="@{/books/{bookId}/comments/{commentId}/unlike(bookId=${bookId}, commentId=${comment.id})}" method="post">
                                                    <button type="submit" class="btn btn-outline-secondary">Unlike</button>
                                                </form>
                                            </div>

                                            <!-- Error message -->
                                            <div th:if="${errorMessageCommentId == comment.id}" class="alert alert-warning" role="alert">
                                                <p th:text="${errorMessage}"></p>
                                            </div>

                                            <!-- Delete and Update buttons -->
                                            <div class="btn-group" role="group">
                                                <!-- Delete button -->
                                                <a class="btn btn-outline-secondary" th:href="@{/books/{bookId}/comments/{commentId}/delete(bookId=${book.id}, commentId=${comment.id})}" th:if="${comment.userEmail} == ${#authentication.principal.username}">Delete Comment</a>

                                                <!-- Update button -->
                                                <a class="btn btn-outline-secondary" th:href="@{/books/{bookId}/comments/{commentId}/update(bookId=${book.id}, commentId=${comment.id})}" th:if="${comment.userEmail} == ${#authentication.principal.username}">Update Comment</a>
                                            </div>




<!--                                              --><!-- Like button -->
<!--                                             <form class="btn btn-outline-secondary" th:action="@{/books/{bookId}/comments/{commentId}/like(bookId=${bookId}, commentId=${comment.id})}" method="post"> -->
<!--                                                 <button type="submit">Like</button> -->
<!--                                             </form> -->

<!--                                              --><!-- Unlike button -->
<!--                                             <form class="btn btn-outline-secondary" th:action="@{/books/{bookId}/comments/{commentId}/unlike(bookId=${bookId}, commentId=${comment.id})}" method="post"> -->
<!--                                                 <button type="submit">Unlike</button> -->
<!--                                             </form> -->

<!--                                             <div th:if="${errorMessageCommentId == comment.id}" class="alert alert-warning" role="alert"> -->
<!--                                                 <p th:text="${errorMessage}"></p> -->
<!--                                             </div> -->



<!--                                             <a class="btn btn-outline-secondary" th:href="@{/books/{bookId}/comments/{commentId}/delete(bookId=${book.id}, commentId=${comment.id})}" -->
<!--                                                th:if="${comment.userEmail} == ${#authentication.principal.username}">Delete Comment</a> -->

<!--                                             <a class="btn btn-outline-secondary" th:href="@{/books/{bookId}/comments/{commentId}/update(bookId=${book.id}, commentId=${comment.id})}" -->
<!--                                                th:if="${comment.userEmail} == ${#authentication.principal.username}">Update Comment</a> -->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--########################################COMMENT##################################################### -->


                    <!-- Nested row for non-featured blog posts-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Genre</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Road Runner</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Content</div>
                        <div class="card-body" th:text="${book.content}">Content</div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Edited Time</div>
                        <div class="card-body">
                            <strong>Edited Time:</strong>
                            <span th:text="${book.updatedOn}"></span>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Price</div>
                        <div class="card-body">
                            <span th:text="${book.price + ' KZT'}"></span>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">Add to Cart</div>
                        <div class="card-body">
                            <form method="post" th:action="@{/book/cart}">
                                <input type="hidden" name="shoppingCartId" th:value="${carts != null ? carts.id : 0}" />
                                <input type="hidden" name="bookId" th:value="${book.id}" />
                                <button class="btn btn-outline-secondary" type="submit">Add to Cart</button>
                            </form><br>
                            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-outline-secondary" th:href="@{/books/{bookId}/delete(bookId=${book.id})}">Delete</a>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">Demo View</div>
                        <div class="card-body">
                            <a th:href="${book.demoVersion}" target="_blank" class="btn btn-primary">Redirect to Demo Version</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</body>
</html>