<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org"

      layout:decorate="~{layout}">
<head>
    <title>Shopping Cart</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="card mb-4" style="width: 200px;">
            <div class="card-header">Total Price</div>
            <div class="card-body">
                <span th:text="${totalPrice + ' KZT'}"></span>
            </div>
        </div>


        <div class="container px-5 my-5">
            <div class="text-center mb-5">
            </div>
            <div class="row gx-5">
                <div th:each="book :${books}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" th:src="${book.photoUrl}"/></br>
                        <a th:text="${book.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</a></br>
                        <p class="lead mb-0" th:text="${book.author}"></p>
                    </div>
                    <div class="card mb-4" style="width: 200px;">
                        <div class="card-header">Price</div>
                        <div class="card-body">
                            <span th:text="${book.price + ' KZT'}"></span>
                        </div>
                        <form method="post" th:action="@{/book/cart/delete}">
                            <input type="hidden" name="shoppingCartId" th:value="${carts != null ? carts.id : 0}" />
                            <input type="hidden" name="bookId" th:value="${book.id}" />
                            <button class="btn btn-primary" type="submit">Delete from Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
</body>
</html>