<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org"

      layout:decorate="~{layout}">
<head>
    <title>Club List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div th:if="${param.error}" class="alert alert-danger">
            This book already in cart!
        </div>
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="btn btn-primary" th:href="@{'/book/' + ${#authentication.principal.username}}">Cart</a></li>
                <h1 class="fw-bolder">Ebook</h1>
                <p class="lead fw-normal text-muted mb-0">Find any books</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/clubs/search}" class="form-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control me-sm-2 mb-5" type="search" placeholder="Search books" aria-label="Search">
                    </form>
                </div>
<!--                <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{'/' + ${#authentication.principal.username} + '/book'}">Add to Cart</a>-->
                <div th:each="club :${clubs}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}"/></br>
                        <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</a></br>
                        <p class="lead mb-0" th:text="${club.author}"></p>
                        <p class="lead mb-0" th:text="${club.price} + ' KZT'"></p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId=${club.id})}" th:text="View">View</a>

                    <form method="post" th:action="@{/book/cart}" style="margin-top: 10px;">
                        <input type="hidden" name="shoppingCartId" th:value="${carts != null ? carts.id : 0}" />
                        <input type="hidden" name="bookId" th:value="${club.id}" />
                        <button sec:authorize="isAuthenticated()" class="btn btn-primary" type="submit">Add to Cart</button>
                    </form>

                    <a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit</a>
                </div>
            </div>
        </div>
    </section>


</main>
</body>
</html>