<!-- <html xmlns="http://www.w3.org/1999/xhtml" -->
<!--       xmlns:th="http://thymeleaf.org" -->
<!--       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" -->
<!--       xmlns:sec="http://thymeleaf.org" -->

<!--       layout:decorate="~{layout}"> -->
<!-- <head> -->
<!--     <title>Comment List</title> -->
<!-- </head> -->
<!-- <body class="d-flex flex-column h-100"> -->
<!-- <main class="flex-shrink-0"> -->

<!--      --><!-- Page Content--> -->
<!--     <section layout:fragment="body" class="py-5"> -->
<!--         <h1>All Comments</h1> -->
<!--         <table> -->
<!--             <tr> -->
<!--                 <th>ID</th> -->
<!--                 <th>Book</th> -->
<!--                 <th>User</th> -->
<!--                 <th>Content</th> -->
<!--                 <th>Created At</th> -->
<!--             </tr> -->
<!--             <tr th:each="comment : ${comments}"> -->
<!--                 <td th:text="${comment.id}"></td> -->
<!--                 <td th:text="${comment.book.title}"></td> -->
<!--                 <td th:text="${comment.userEmail}"></td> -->
<!--                <td th:text="${comment.user.username}"></td>--> -->
<!--                 <td th:text="${comment.content}"></td> -->
<!--                 <td th:text="${comment.createdAt}"></td> -->
<!--             </tr> -->
<!--         </table> -->
<!--         <a th:href="@{/books/{bookId}/comments/new(bookId=${bookId})}">Add Comment</a> -->
<!--     </section> -->


<!-- </main> -->
<!-- </body> -->
<!-- </html> -->