<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User Profile</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Card -->
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx9tjaExsY-srL4VsHNE_OKGVCJ-eIFNBktw&usqp=CAU" class="card-img-top" alt="Profile Image">
                </div>
            </div>
            <div class="col-md-8">
                <!-- Profile Details -->
                <div class="card" style="display: inline;">
                    <div class="card-body">
                        <h5 class="card-title">Profile Details</h5>
                        <p class="card-text">
                            <strong>Username:</strong> <span th:text="${user.username}">exampleEmail</span><br>
                            <strong>Email:</strong> <span th:text="${user.email}">exampleEmail</span><br>
                            <strong>Role:</strong> <span th:each="role : ${user.roles}" th:text="${role.name}"></span><br><br>
                            <li sec:authorize="isAuthenticated()" class="nav-item"><a class="btn btn-primary" th:href="@{'/book/' + ${#authentication.principal.username}}">Cart</a></li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
</body>
</html>