<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-pzjw8f+ua6U8TAO6CJtr5RGCaby0VqzLMVzHf5GIeXQwMSdp4Jb5ck7ta9aCfy9v"
          crossorigin="anonymous">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5 container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the eBook Application</h1>
                <p>Explore a wide range of eBooks in various genres.</p>
            </div>
        </div>
    </section>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-2//4vXomf+pn0VCh4egjvBEueFv9f1E9pfk3x4ONsHIjgnShHZaIVq9tRz17TCWL"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-pzjw8f+ua6U8TAO6CJtr5RGCaby0VqzLMVzHf5GIeXQwMSdp4Jb5ck7ta9aCfy9v"
        crossorigin="anonymous"></script>

</body>
</html>
